<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.teamblue.projectbloove"
    >
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".Detalle_Hospitales"></activity>
        <activity android:name=".Hospitales_view" />
        <activity android:name=".Informacion_View" />
        <activity android:name=".Tipos_RH" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBrt1E9uB110bOjspXqXJU_R2cQKm9WZTA" />

        <activity
            android:name=".Localizacion_View"
            android:label="@string/title_activity_localizacion__view" />
        <activity android:name=".Incentivos_View" />
        <activity android:name=".Requisitos_View" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>